<?xml version="1.0"?>
<config>
    <modules>
        <Comvos_ExtraCategoryTitle>
            <version>1.0.1</version>
        </Comvos_ExtraCategoryTitle>
    </modules>
    <global>
        <helpers>
            <extracategorytitle>
                <class>Comvos_ExtraCategoryTitle_Helper</class>
            </extracategorytitle>
        </helpers>
        <resources>
            <extracategorytitle_setup>
                <setup>
                    <module>Comvos_ExtraCategoryTitle</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </extracategorytitle_setup>
        </resources>
    </global>
</config>
